/* app/globals.css */

/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #111827; /* dark gray text */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}